body{
    background: url('/resource/forest.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#canvas2{
    opacity: 0;
}
button{
    z-index: 20;
    position: absolute  ;
    height: 100px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    border: 20px ridge rgb(58, 2, 2);
}