body{
    background-color: black;
}
.canvas1{
    border: 3px solid white;
    position: relative;
    width: 700px;
    height: 500px;
   
    
}
#container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slider{
    width: 100%;
}
#container p {
    color: aliceblue;
    font-size: large;
    letter-spacing: 0.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
